<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Package visibility queries for Android 11+ (API 30+) -->
    <!-- Required for Google Sign-In and Credential Manager API -->
    <queries>
        <!-- Google Play Services -->
        <package android:name="com.google.android.gms" />
        
        <!-- Google Account Picker / Sign-In -->
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.GOOGLE_SIGN_IN" />
        </intent>
        
        <!-- Credential Manager provider queries -->
        <intent>
            <action android:name="androidx.credentials.provider.action.GET_CREDENTIAL" />
        </intent>
        <intent>
            <action android:name="androidx.credentials.provider.action.CREATE_CREDENTIAL" />
        </intent>
    </queries>
</manifest>
