# Gradle
.gradle/
**/build/
**/out/
**/.gradle/

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Node/Yarn
node_modules/

# Kotlin JS store
kotlin-js-store/

# Local config
local.properties
*.keystore
*.jks

# Logs
*.log

# Git
.git/
.gitignore
