# Git
.git
.gitignore

# Environment files
.env*
!.env.example

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Documentation
docs/

# Local development files
*.db
*.sqlite3


.gradle
build
out
*.iml
.DS_Store