spring:
  application:
    name: "komposeauth"
  mongodb:
    uri: ${MONGODB_URI}
  data:
    mongodb:
      auto-index-creation: true
  main:
    lazy-initialization: true
    banner-mode: off
  jmx:
    enabled: false
logging:
  level:
    root: ERROR

server:
  port: ${PORT:80}
  forward-headers-strategy: framework
  servlet:
    session:
      httponly: true
      cookie:
        name: KOMPOSEAUTH_SESSION

app:
  base64-encryption-key: ${BASE64_ENCRYPTION_KEY}
