spring:
  application:
    name: "komposeauth"
  data:
    mongodb:
      uri: ${MONGODB_URI}
      auto-index-creation: true
  main:
    lazy-initialization: true
    banner-mode: off
  jmx:
    enabled: false
logging:
  level:
    root: ERROR

server:
  address: 0.0.0.0
  forward-headers-strategy: framework

app:
  base64-encryption-key: ${BASE64_ENCRYPTION_KEY:}

springdoc:
  swagger-ui:
    oauth:
      client-id: swagger-ui
      use-pkce-with-authorization-code-grant: true
      scopes:
        - openid
        - profile
        - email
