spring:
  application:
    name: "komposeauth"
  data:
    mongodb:
      uri: ${MONGODB_URI}
      auto-index-creation: true
  main:
    lazy-initialization: true
    banner-mode: off
  jmx:
    enabled: false
logging:
  level:
    root: DEBUG

server:
  address: 0.0.0.0
  forward-headers-strategy: framework

app:
  base64-encryption-key: ${BASE64_ENCRYPTION_KEY:}